.country {
  font-size: 4rem;
  padding: 0 2rem;
  //   overflow-x: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &_primary {
    margin: 5rem 0;
  }
}
